

mixin list
  fieldset
    div.title  Title
    div
      input(type="text",name="title" value="#{ToDo.title}")
      br
    div.title Description
    div
      textarea(type="text", name = "description")= ToDo.description
    div
      button Save



+list
  



  