
extends ./add_to_edit_new_todo.jade
  
block content 
    div.form
      h1 Edit Item
      form(action="/edit/#{ToDo._id}?_method=PUT" , method="POST")
        include jade_includer/edit_include.jade
        
        