extends ./add_to_todos.jade

block content
  //- h1 ToDo List
  div(class="container")
    
    li.header 
      h1 ToDoList
        span#countercheck 
          span Complete 
      
        span#counteruncheck
          span Incomplete
        a(class="add_item" href="/new_todo") New Item
    ol#toDoList
      each item in todos
        li.list
          //- p= item._id 
          input(type="checkbox" data-list-id="#{item._id}" data-checked="#{item.is_done}")
          span.title  
            a(href="/edit/#{item._id}")!= item.title
          
            form(action="/destroy/#{item._id}?_method=DELETE" method="POST")
              button X


      mixin MyList(item)
        





