doctype
html(lang="en")
head
  script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js')
  link(href='styles/style.css' rel='stylesheet')

  meta(charset="UTF-8")
  title Todo List
  script(src="/ajax.js")
body
  h1 ToDo List
  div(class="container")
    ol#toDoList
      each item in todos
        li.list
          //- p!= item._id 
          input(type="checkbox" data-list-id="#{item._id}" data-checked="#{item.is_done}")
          span.title  
            a(href="/edit/#{item._id}")!= item.title
          form(action="/destroy/#{item._id}?_method=DELETE", method="POST")
            button( style="right:4em;color:red") X

 h1
 br
 a(href="/new_todo") New Item
 br
 br
 a(href="/edit_todo") Edit Item
