body{

  background:grey;
}
.container{

  background:#EDEFDC;
  margin: 1em auto;
  max-width: 40em;

}
.header{

  border-bottom:2px solid green;
  list-style-type: none;
  padding-top: 5px;
}
h1{
  /*padding-top: 1em;*/
  padding: 0.6em 0 0 20px;
  text-align: left;
  color:purple;
}

ol{

  margin:0;
  
}
#countercheck{

  margin-left: 35px;
  font-size: 0.5em;
}

#counteruncheck{

  margin-left: 35px;
  font-size: 0.5em;
}
.add_item{

  float:right;
  text-decoration: none;
  background:#D86B21;
  font-size: 23px;
  margin: -5px 1em;
  padding:0.5em;
  color:#EDEDED;
}
li.list{
  line-height: 30px;
  /*border-top: 2px green solid;*/
  border-bottom: 2px green solid;
  
}
input[type="checkbox"]{

  height: 3em;
  width:2em;
  vertical-align: middle;
  color:blue;
  background:blue;

}
span.title span a{

  text-decoration: none;
  text-align: center;
  margin:auto;
}

button{

  float:right;
  margin:-30px 4px 0 0;
  height: 2em;
  width: 3em;
  font-weight: 700;
  font-size: 12px;
}

button:hover{

  color:white;
  background:orange;
}







.add_item:before{

  content: "+ ";
}


span{

 
  text-align: center;
}

p{

  display:none;
}


