
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Sigmar+One);


body{

  background:#EDEFDC;

}
.form{

  background-image: url("/images/footer_lodyas.png");
  margin: 0 auto;
  max-width: 45em;
  font-size:1em;
}

h1{
  background-image: url("/images/grey_wash_wall_@2X.png");
  text-align: center;
  margin:0;
  padding:1em 0;
  color:#2D1152;
  
  text-transform: uppercase;
  letter-spacing:4px;
  font-family:"Sigmar One", cursive;
}

textarea{

  height:14em;
  margin: 1em auto;
  min-width:38em;
  font-size: 9pt;
  text-align: center;

}

form{

  text-align: center;
}

input[type=text]{

  width:21em;
  height:3em;
  font-size: 1em;
  font-style: normal;
  text-align: center;
  
}

.title{

  font-size: 2em;
  color:yellow;
  font-family:"Sigmar One", cursive;
  letter-spacing:5px;
}


button{

  width:12em;
  font-family: "Shadows Into Light";
  font-size: 1.5em;
  line-height:1.5em;
  margin: 1em 0;
  color:green;
  
  background-size: 1em;
}

button:hover{

  background:#8DF5DF;
  color:#0250B8;
}



